.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 20px;
  z-index: 10;
}

#navbarhr {
  position: absolute;
  top: 13%;
  left: 0;
  right: 0;
  border: solid #66635b;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0px 40px;
  margin-top: 0;
  margin-bottom: 0;
}

li a {
  margin: 0px 45px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: Courgette;
}

.projects:hover,
.blogs:hover,
.github:hover {
  color: #4c5760;
}

a {
  text-decoration: none;
}

.name {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: -0.045em;

  color: #4c5760;
}

.projects {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  transition: color 0.6s ease-in-out;
  color: #66635b;
}

.blogs {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  transition: color 0.6s ease-in-out;
  color: #66635b;
}

.github {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  transition: color 0.6s ease-in-out;
  color: #66635b;
}
